# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib
gepn
GEPN
app

# Archivos de prueba
*.test
*.out

# Dependencias
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno
.env
.env.local

# Git
.git
.gitignore

# Documentación
README.md
